ENVIRONMENT=dev
DB_USER=
DB_PASSWORD=
DATABASE=
DB_HOST=

JWT_ENCRYPTION= //add secret key
JWT_EXPIRATION= //add expiration in seconds

OPEN_WEATHER_KEY= // get key from https://home.openweathermap.org/api_keys